* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    height: 100vh;
    width: 100%;
    background-image: url(images/alexander-popov-vCbKwN2IXT4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.navbar {
    font-family: 'Baloo Tammudu 2', cursive;
    margin: auto;
    width: 88%;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.logo {
    width: 140px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;

}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-shadow: 2px 4px 2px rgba(185, 68, 0, 1);
    
    
}

/* Contact Form */

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .content p {
    font-weight: 300;
    color: #fff;
}

.container1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.container1 .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: aqua;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
}
